body {
  font-family: "Playfair Display", serif;
  color: black;

  form {
    width: 100%;
    .btn-dark {
      margin-top: 20px;
      background-color: black;
      border-color: black;
      &:hover {
        background-color: rgb(211, 0, 0);
        border-color: rgb(211, 0, 0);
      }
    }
  }

  a,
  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }

  .flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .section-title {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  hr {
    width: 80%;
    border-top: 1px solid black;
  }

  p {
    margin: 0;
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 0, 0);
    
    ul {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 10px;
      width: 80%;
      color: white;
    }

    li {
      list-style: none;
    }

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: white;
      &:hover {
        color: rgb(58, 0, 0);
        cursor: pointer;
      }
    }
  }

  section {
    margin: 80px 20px;
  }

  .header {
    margin-top: 20px;
    h2 {
      font-style: italic;
      width: 100%;
    }
  }

  .about {
    img {
      width: 250px;
      margin: 20px;
      border-radius: 50%;
    }
  }

  .work {
    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      color: rgb(211, 0, 0);
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
    h3 {
      margin: 10px 0;
    }

    .tech-stack {
      margin: 5px 0;
      font-weight: bold;
    }
    .work-list {
      .work-item {
        margin: 0;
        margin-bottom: 60px;

        img {
          width: 100%;
          object-fit: cover;
          border: 2px solid black;
        }
      }
    }
  }

  .contact {
    .in {
      font-family: "Barlow", sans-serif;
      font-weight: 900;
      border-radius: 50%;
      margin-top: 20px;

      color: white;
      background-color: black;
      padding: 5px;
      object-fit: cover;
      width: 60px;
      &:hover {
        color: white;
        background-color: rgb(22, 102, 197);
      }
    }
  }

  .footer {
    color: white;
    background-color: black;
    p {
      font-family: "Barlow", sans-serif;
      margin: 10px;
    }
  }
}
